.main{
    width: 100%;
    height: 100vh;
    background-color: #FEFAF5;
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    position: relative;
}
.main-inner{
    height: 50%;
    position: absolute;
    top: 10%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.main-name{
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 8px;
    margin-bottom: 20px;
}
.main-sub{
    font-size:16px;
    font-weight: 500;
    color: #ADADAD;
    letter-spacing: 2px;
}
.main-button-box{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.main-button-content{
    font-weight: 900;
    color: #000000;
    letter-spacing: 5px;
    font-size: 12px;
    background-color: #F7F1E8;
    padding: 16px 34px;
    border-radius: 30px;
    display: block;
}
.main-button-content:hover{
    background-color: #ED266B;
    color: #ffffff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
@media (max-width: 760px) {
    .main-name{
        font-size: 50px;
        margin-bottom: 20px;
        line-height: 1.3;
    }
    .main-sub{
        font-size: 14px;
    }
}
@media (max-width: 480px) {
    .main-name{
        font-size: 40px;
        margin-bottom: 20px;
        line-height: 1.3;
        margin-bottom: 10px;
    }
    .main-sub{
        font-size: 12px;
    }
}
