.main-details{
  width: 100%;
  height: 100%;
  padding-bottom: 60px;
}
.main-details-inner{
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  background-color: #ffffff;
  padding-bottom:5%;
  box-sizing: border-box;
  border-radius: 14px;
   position: relative;
}
.main-details-inner-content{
  padding: 0% 5%;
}
.main-details-kv{
  width: 100%;
  height: 0;
  padding-bottom: 70%;
  background-size: cover;
  border-radius: 14px 14px 0px 0px;
}
.main-details-kv-nrecruit{
  background-image: url("../../assets/images/pf_nrecruit.jpg");
}
.main-details-kv-marasy{
  background-image: url("../../assets/images/pf_marasy.jpg");
}
.main-details-kv-intern{
  background-image: url("../../assets/images/pf_intern.jpg");
}
.main-details-kv-haresuta{
  background-image: url("../../assets/images/pf_haresuta.jpg");
}
.main-details-kv-kdx{
  background-image: url("../../assets/images/pf_kdx.jpg");
}
.main-details-kv-tokinosora{
  background-image: url("../../assets/images/pf_tokinosora.jpg");
}
.main-details-kv-info{
  background-image: url("../../assets/images/pf_info.jpg");
}
.main-details-kv-dcr{
  background-image: url("../../assets/images/pf_dcr.jpg");
}
.main-details-kv-water{
  background-image: url("../../assets/images/pf_water.jpg");
}
.main-details-kv-nsuitou{
  background-image: url("../../assets/images/pf_nsuitou.jpg");
}
.main-details-kv-nseifuku{
  background-image: url("../../assets/images/pf_seifuku.jpg");
}
.main-details-kv-dcs{
  background-image: url("../../assets/images/pf_dcs.jpg");
}
.main-details-kv-poster{
  background-image: url("../../assets/images/pf_poster.jpg");
}
.main-details-kv-nazotoki{
  background-image: url("../../assets/images/pf_nazotoki.jpg");
}
.main-details-kv-fp{
  background-image: url("../../assets/images/pf_fp.jpg");
}
.main-details-kv-ncon{
  background-image: url("../../assets/images/pf_ncon.jpg");
}
.main-details-kv-fp{
  background-image: url("../../assets/images/pf_fp.jpg");
}
.main-details-kv-meishi{
  background-image: url("../../assets/images/pf_meishi.jpg");
}
.main-details-title{
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: 'Red Hat Display', sans-serif;
  line-height: 1.7;
  border-radius: 8px;
  margin: 30px 0 6px 0;
}
.main-details-explanation{
  font-size: 14px;
  letter-spacing: 0.6px;
  line-height: 1.8;
  margin-top: 10px;
}
.main-details-reference-web{
  width: 80%;
  display: block;
  margin: 36px auto;
  border: 1px solid #f7f4e7;
}
.main-details-link{
  color: #000000;
font-size: 14px;
font-family: 'Red Hat Display', sans-serif;
letter-spacing: 1px;
margin: 24px 0;
display: block;
padding: 2%;
background-color: #f5f5f5;
border-radius: 10px;
}
.main-details-link:hover{
  color: #ED266B;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.main-details-line{
  border: 1px solid #f5f5f5;
  margin: 50px 0;
}
.main-details-tags{
  font-size: 10px;
  letter-spacing: 1.5px;
  color: #ED266B;
  margin: 6px 0 20px 0;
  font-weight: 500;
}
.main-details-back{
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background-color: #000000;
  border-radius: 36px;
  text-align: center;
  line-height: 3.5;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 14px;
  color: #ffffff;
}
.main-details-back:hover{
  background-color: #ED266B;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 480px) {
  .main-details-inner{
    width: 100%;
    border-radius: 0px;
  }
  .main-details-kv{
    border-radius: 0px 0px 0px 0px;
  }
  .main-details-link{
    padding: 4%;
    border-radius: 14px;
  }
  .main-details-reference-web{
    width: 92%;
  }
  .main-works-inner{
    width: 86%;
  }
}
